{% extends "admin/layout.html.twig" %}
{% block body %}
	<div class="container-fluid">
		<div class="row">
			{% for key, item in datas %}
				<div class="col-lg-4 col-md-12">
					<div class="white-box analytics-info">
						<h3 class="box-title">{{ key }}</h3>
						<ul class="list-inline two-part d-flex align-items-center mb-0">
							<li>
								<div id="sparklinedash3">
									<i style="color:#2cabe3;font-size: 1.5rem;" class="{{ item.icon }}" aria-hidden="true"></i>
								</div>
							</li>
							<li class="ms-auto">
								<span class="counter text-info">{{ item.count }}</span>
							</li>
						</ul>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
