{% extends 'base.html.twig' %}

{% block title %}Inspection Générale de Finance
{% endblock %}

{% block body %}


	<div class="container gallery-container">

		<h3 class="section-title" style="margin-bottom: 20px">Nos photos</h3>

		<div class="tz-gallery">

			<div class="row">
				{% if photos|length > 0  %}
					{% for photo in photos %}
						<div class="col-sm-6 col-md-4">
							<div class="thumbnail">
								<a class="lightbox" href="{{ asset('uploads/photos/' ~ photo.path) }}">
									<img src="{{ asset('uploads/photos/' ~ photo.path) }}" alt="Park">
								</a>
								<div class="caption">
									<p>{{ photo.description }}</p>
								</div>
							</div>
						</div>
					{% endfor %}
				{% else %}
					<p>Aucune photo trouvée à la galerie</p>
				{% endif %}
			</div>

		</div>

	</div>

{% endblock %}
