:root {
  --red: rgb(228, 35, 35);
  --light-red: rgb(247, 109, 109);
  --dark-gray: rgb(22, 22, 22);
  --gray: rgb(80, 80, 80);
  --light-gray: rgb(250, 250, 250);
  --card-height: 350px;
}
@media only screen and (max-width: 995px) {
  .postcontainer {
    width: 50%;
    margin-bottom: 30px;
  }
  .nav-item.has-children {
    position: relative;
  }

  a.post {
    width: 100%;
  }

  .big-container,
  .small-container,
  .small-container .postcontainer,
  .big-container .postcontainer.big {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .topnav .toptitle {
    font-size: 12px;
    padding: 0 10px;
  }
  .postcontainer {
    width: 100%;
  }
  h1.main-title {
    text-align: left;
    margin-top: 20px;
  }
  .video-texts {
    text-align: left !important;
    margin-bottom: 30px;
  }
  .video-box {
    display: block !important;
  }
  .video-box.photo {
    margin-bottom: 30px;
  }
  .footer > .container {
    padding: 0 20px;
  }
  .section-title {
    margin: 40px 0;
  }
  .posts {
    padding: 0;
  }
  .section.gray {
    padding: 30px 0;
  }
  a.post .post-text {
    padding: 15px;
  }
  .htexts p {
    padding: 0 13px;
  }
  .list-texts p {
    padding: 0 13px;
  }
  .flash-news {
    display: none;
  }
  .flash-news span {
    margin-bottom: 10px;
  }
  .flash-news p {
    margin-left: 0;
  }
  .container.denoncer {
    padding: 20px !important;
  }
  .posts p {
    padding: 0 15px;
  }
  .htexts img {
    border-radius: 0 !important;
  }
  .htexts .detail-small,
  .htexts .title {
    padding: 0 15px;
  }
  .htexts .downlod-btn {
    margin: 0 15px;
  }
  .htexts .share {
    margin: 0 15px;
  }
  .htexts .link {
    margin: 0 10px;
    margin-bottom: 20px;
  }
  .htexts .link a {
    margin: 0 10px;
    font-size: 11px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .htexts .link a i {
    margin: 10px 0;
  }
  .categories-list div a {
    padding: 0 15px;
  }
  .container .row p {
    padding: 0 15px;
  }
  .maps {
    padding: 0 !important;
    margin-bottom: 0 !important;
  }

  .video-container .row {
    flex-direction: column;
  }

  .video-container {
    height: auto !important;
  }

  .photo-container {
    height: auto !important;
  }

  .video-texts {
    width: 100%;
    text-align: center;
  }

  .video-box,
  .video-box iframe {
    width: 100%;
  }

  p.media-desc {
    padding-left: 0 !important;
  }
  .slider-bg .slide h3,
  .slider-bg .slide p {
    width: 90% !important;
    margin: auto;
  }
}

.row.small-container-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 393px) {
  .row.small-container-row {
    grid-template-columns: 1fr !important;
  }
}

.jumbotron h1 span {
  max-width: 100%;
}

.topnav {
  height: auto !important;
}

.toptitle {
  padding: 10px 0;
  margin: 0;
}

.photo,
.video {
  max-width: 100% !important;
}

.navbar-toggler {
  border: none;
  padding: 10px;
}

button:focus:not(:focus-visible) {
  outline: 0;
  border: none;
  outline: none;
}

.fb-page span iframe {
  width: 100% !important;
}

.fb-page span {
  width: 100% !important;
}

body {
  overflow-x: hidden;
}

a.post .post-img {
  height: calc(100% - 150px / 2);
}

a.post .post-text {
  padding: 15px;
  transform: translateY(-50%);
  background-color: #fff;
  width: 90%;
  margin: auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  height: 150px;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-top: 5px solid var(--red);
}

.form-control:focus {
  outline: 0 !important;
  border-color: initial;
  box-shadow: none;
}

.social-icons {
  position: fixed;
  z-index: 50;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 30px;
  top: 0;
}

.social-icons ul {
  list-style: none;
  text-align: center;
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}

.social-icons ul li {
  margin-bottom: 20px;
}

.social-icons ul li a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  padding: 10px 13px;
  width: 100%;
  border-radius: 50%;
  color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-in-out;
}

.social-icons ul li a:hover {
  transform: translateY(-7px);
}

.social-icons ul li:last-child {
  margin-bottom: 0;
}
