.slider-bg .slide {
    background-size: cover;
    margin: 0;
    width: 100%;
    padding: 90px 0;
    height: 100%;
    color: #fff;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center
}

.slider-bg .slide a {
    background: none;
    padding: 10px 25px;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
}

.slider-bg .slide p {
    width: 900px;
    max-width: 90%;
    margin-left: auto;
    margin-bottom: 30px;
    opacity: .7;
}

.slider-bg .slide h3 {
    margin-bottom: 30px;
    width: 700px;
    margin: auto;
    max-width: 90%;
}

.slider-bg .slide a:hover {
    border: 1px solid #eee;
}

.slider-bg,
.slider-bg .slick-list,
.slider-bg .slick-track {
    height: 100%;
}