{% extends 'base.html.twig' %}

{% block title %}Inspection Générale de Finance
{% endblock %}

{% block body %}
	<div class="main">
		<div class="jumbotron small">
			<div class="container">
				<div class="row">
					<div class="col-md-6 texts">
						<h3>ATTRIBUTIONS</h3>
						<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et saepe nihil possimus est veniam quo, soluta deserunt hic a impedit assumenda? Cupiditate esse ipsa repudiandae architecto dolore, similique in tempore!</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="list">
				<div class="num">
					<h3>L’Inspecteur Général des Finances-Chef du Service</h3>
				</div>
				<div class="list-texts">
					<p>Supervise et coordonne l’ensemble des activités de l’Inspection Générale des Finances et fait régulièrement rapport au Président de la République ou à son délégué des missions d’inspection ou d’enquêtes exécutées.</p>
					<p>À ce titre, il a notamment pour tâche de :
					</p>
					<ul>
						<li>préparer et soumettre à l’approbation du Président de la République le programme annuel d’actions de l’Inspection Générale des Finances ainsi que le programme des missions ponctuelles ;</li>
						<li>ordonner les missions d’inspections ou d’enquêtes reprises dans le programme annuel d’actions ou dans le programme des missions ponctuelles ;</li>
						<li>superviser l’exécution des missions d’inspection ou d’enquêtes ordonnées  ;</li>
						<li>centraliser les conclusions, recommandations et mesures découlant des rapports de missions d’inspection ou d’enquête et en faire rapport au Président de la République ou à son délégué ;</li>
						<li>assurer le suivi de l’exécution des mesures et décisions découlant des rapports de missions d’inspection ou d’enquête entérinées par le Président de la République ;
						</li>
						<li>élaborer les rapports trimestriel, semestriel et annuel d’activités ainsi que le rapport synthèse annuel des missions d’inspection ou d’enquête exécutées à l’attention du Président de la République ;</li>
						<li>il gère le personnel, les crédits ainsi que le patrimoine de l’Inspection Générale des Finances. Il supervise le Service Administratif, Financier et Technique d’Appoint, SAFT en sigle.</li>
					</ul>
				</div>
				<div class="num">
					<h3>L'Inspecteur Général des Finances-Chef de Service Adjoint</h3>
				</div>
				<div class="list-texts">
					<p>Il Assiste l’Inspecteur Général des Finances-Chef de Service dans la supervision et la coordination de l’ensemble des activités de l’Inspection Générale des Finances.
					</p>
					<p>Il assure l’intérim en cas d’absence ou d’empêchement de l’Inspecteur Général des Finances-Chef de Service et coordonne toutes les missions lui confiées par l’Inspecteur Général des Finances-Chef de Service.
					</p>
				</div>
				<div class="num">
					<h3>Ethical fixie man braid, pork belly shoreditch tumeric cloud bread migas chillwave raclette normcore freegan.</h3>
				</div>
				<div class="list-texts">
					<p>Sont chargées respectivement des attributions suivantes :</p>
					<ul>
						<li>
							<b>La brigade de coordination assure</b>, sous l’autorité de l’Inspecteur Général des Finances-Chef de Service et de son adjoint, les fonctions d’animation et d’encadrement des services de l’Inspection Générale des Finances ;
						</li>
						<li>
							<b>La brigade des recettes douanières</b>, fiscales et parafiscales contrôle et vérifie, auprès des services générateurs des recettes, toutes les opérations de constatation, de taxation, de liquidation, d’ordonnancement et de recouvrement des recettes, l’apurement du contentieux et les documents comptables y afférents ;
						</li>
						<li>
							<b>La brigade des dépenses publiques</b>
							contrôle et vérifie l’engagement, la liquidation, l’ordonnancement et le paiement des dépenses publiques ;
						</li>
						<li>
							<b>La brigade des établissements ou organismes publics</b>, des entreprises publiques, des sociétés d’économie mixte ou subventionnées et des entités administratives décentralisées contrôle et vérifie toutes les opérations financières de ces organismes, entreprises, sociétés et entités ainsi que celles de tout organisme bénéficiant du concours financier de l’État, des entités administratives décentralisées, des entreprises publiques, des établissements publics ou organismes paraétatiques sous une forme quelconque, notamment sous forme de participation en capital, de subvention, de prêt, d’avance ou de garantie;
						</li>
						<li>
							<b>La brigade de contre-vérification douanière, fiscale, parafiscale et comptable</b>
							vérifie, au second degré, toutes les situations douanières, fiscales, parafiscales et comptables soumises à la vérification des organes de contrôle interne des autres services publics de l’État, soit en cas de découverte d’une fraude lors de l’exécution normale d’une mission de contrôle ou de vérification, soit sur réquisition des autorités politiques et administratives, soit sur réquisition des autorités judiciaires, soit, enfin, sur dénonciation des tiers.
						</li>
						<hr>
						<p>Les brigades mixtes et/ou ponctuelles sont chargées des missions particulières leur confiées.</p>
						<p>L’Inspection générale des finances accomplit toute autre enquête ou mission de contrôle, de vérification, de contre-vérification et de surveillance des régies financières de l’État et de tous autres services, organismes, établissements publics de l’État, ordonnées soit sur instruction du président de la République, soit sur réquisition des autorités politiques et administratives, soit sur réquisition des autorités judiciaires ou sur dénonciation des tiers.</p>
					</ul>
					<p>Les brigades mixtes et/ou ponctuelles sont chargées des missions particulières leur confiées.</p>
					<p>L’Inspection générale des finances accomplit toute autre enquête ou mission de contrôle, de vérification, de contre-vérification et de surveillance des régies financières de l’État et de tous autres services, organismes, établissements publics de l’État, ordonnées soit sur instruction du président de la République, soit sur réquisition des autorités politiques et administratives, soit sur réquisition des autorités judiciaires ou sur dénonciation des tiers.</p>
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
