{% extends 'base.html.twig' %}

{% block title %}Inspection Générale de Finance
{% endblock %}

{% block body %}
	<div class="main">
		<div class="jumbotron small">
			<div class="container">
				<div class="row">
					<div class="col-md-6 texts">
						<h3>HISTORIQUE</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="container" style="padding: 40px 0">
			<div class="row">
				<div class="col-sm-6 htexts list-texts">
					<p>Plusieurs Ordonnances et Décrets sont intervenus pour soit modifier ou préciser les compétences de l’IGF en matière de contre-vérification, soit en modifier la tutelle, soit améliorer le statut des Inspecteurs des Finances.</p>
					<p>C’est ainsi que par :</p>
					<ul>
						<li>
							L’Ordonnance-loi n° 91-005 du 06/03/91 fait de l’Inspecteur des finances un justiciable à la Cour d’appel
						</li>
						<li>
							L’Ordonnance n° 91-018 du 06 mars 1991 est soumise la contre-vérification fiscale à l’avis préalable du Ministre des Finances ;
						</li>
						<li>
							Le Décret-loi n° 006/2003 du 24/03/2003 déroge au statut du personnel de carrière des services publics de l’Etat autorise le recrutement de l’Inspecteur des Finances au grade de Chef de Division ;
						</li>
						<li>
							Le Décret 034-b/2003 du 18/03/2003, l’IGF sera placée sous la tutelle directe du Président de la République, l’adjoint à l’IG CS est appelé Inspecteur Général – Chef de Service Adjoint, et élimine l’autorisation préalable du Ministre des Finances pour les missions de contre-vérification fiscale ;
						</li>
						<li>
							Le Décret n° 036-b/2003 du 24/03/2003, l’IG – CS et l’IG CSA sont élevés au rang de respectivement Ministre et Vice-Ministre, l’implication de l’IG CS dans la proposition des IF à nommer instaurée
						</li>
						<li>
							Le Décret 04/018 du 19 février 2004, l’IGF sera replacée sous la tutelle du Ministre des Finances et l’autorisation expresse du Ministre des Finances sera requise pour la contre-vérification fiscale ;
						</li>
						<li>
							L’Ordonnance n° 09/097 du 08 décembre 2009, l’IGF sera replacée sous l’autorité directe du Président de la République, sans autorisation du Ministre pour effectuer les missions de contre-vérification fiscale ;
						</li>
						<li>
							L’Ordonnance n° 20-137-c du 24/09/2020 le nombre de Brigades sera porté  à 10,   la possibilité de nommer l’Inspecteur Général- Chef de Service parmi les Inspecteurs Principaux des Finances ouverte et  le recrutement d’un Inspecteur des Finances élargi  aux ingénieurs informaticiens ou en construction ;
						</li>
						<li>
							L’Ordonnance n° 20/137-b du 24/09/20 l’exercice de la contre-vérification fiscale sera précisée et  des ressources permanentes procurées à l’IGF (la rétrocession).
						</li>
					</ul>
					<P>Le contrôle des finances publiques de la République Démocratique du Congo remonte à la création de l’Etat Indépendant du Congo en 1885.</P>
					<P>En effet, le Roi souverain avait dans l’article 3 de son Décret du Roi  du 6 octobre 1885 avait stipulé que « les fonctions de contrôleur de la comptabilité pourront être conférée par le Gouverneur Général au Congo, à des agents de l’Etat qui seront chargés, en cette qualité, d’inspecter de temps en temps les livres et la caisse des agents-comptables d’après les instructions que leur tracera le directeur des finances ».</P>
					<P>
						A mon avis, bien qu’il s’agisse des fonctions de contrôleur de la comptabilité, il y a lieu d’arguer que les racines lointaines de l’Inspection Générale des Finances dans notre pays remontent à 1885. En effet, à travers cette disposition, certains aspects du contrôle exercé par l’IGF sont relevés notamment le caractère ponctuel, l’indépendance du contrôleur, la tutelle du Gouverneur Général (Président de la République) sur les contrôleurs.</P>
					<P>Les intervenants dans les finances publiques étaient le Secrétaire d’Etat des Finances, le Trésorier général qui opérait en Europe toutes les recettes et tous les paiements qui devaient y être effectués pour le compte de l’Etat, le Directeur (Ministre) des finances  et les Agents comptables en Afrique, chargés de la perception des deniers et dépenses de l’Etat sur base des fonds leur expédiés par le trésorier général.</P>
					<P>La création de l’Inspection Générale est intervenue  le 18 décembre 1951 par l’Arrêté royal  portant règlement sur la comptabilité publique. En effet, en ses articles 56 à 58, cet arrêté parle des inspecteurs des finances, leur tutelle, leur mission et des incompatibilités de leur fonction :</P>
					<ul class="list-group" style="margin: 30px 0">
						<li class="list-group-item">Art 56 : Les Inspecteurs des Finances relèvent directement du Gouvernement général.</li>
						<li class="list-group-item">Art 57 : Ils ont pour mission de veiller à l’application des grands principes comptables et à l’uniformisation des méthodes de travail dans les centres d’ordonnancement.</li>
						<li class="list-group-item">Art 58 : La fonction d’inspecteur des finances est incompatible avec celle d’ordonnateur-trésorier,  de contrôleur  ou de comptable.</li>
					</ul>
				</div>

				<div class="col-sm-6 timeline">
					<ul class="timeline" style="z-index:10">
						<li>
							<a target="_blank" href="https://www.totoprayogo.com/#">1968 |</a>
							<a href="#" class="float-right">Ordonnance-Loi n° 68-015</a>
							<div>
								<div><img style="width:100%;margin: 10px 0; border-radius: 4px" src="images/hist1.jpg" alt="h1"></div>
								<div>
									<p>Par l’Ordonnance-Loi n° 68-015 du 06 janvier 1968, il a été créé, au sein du Ministère des Finances, le Corps Spécial d’Inspecteurs des Finances, ayant pour mission de vérifier et contrôler toutes les recettes et toutes les dépenses qui ont une incidence dans le budget de l’Etat.</p>
								</div>
							</div>
						</li>
						<li>
							<a href="#">1970 |</a>
							<a href="#" class="float-right">Ordonnance-Loi n° 70/093</a>
							<div>
								<div><img style="width:100%;margin: 10px 0; border-radius: 4px" src="images/logo.png" alt="h1"></div>
								<div>
									<p>Le 23 décembre 1970, le Président de la République signe l’Ordonnance-Loi n° 70/093 portant statut des membres du Corps Spécial d’Inspecteurs des Finances qui confie à l’Inspecteur des Finances les fonctions de Conseiller financier et budgétaire du Ministre auprès duquel il est accrédité, de contrôleur des dépenses engagées et de fonctionnaire de surveillance des opérations budgétaires et comptables.</p>
								</div>
							</div>
						</li>
					</li>
					<li>
						<a href="#">1987 |</a>
						<a href="#" class="float-right">Ordonnance-Loi n° 87-323</a>
						div>
						<div><img style="width:100%;margin: 10px 0; border-radius: 4px" src="images/hist2.jpg" alt="h1"></div>
						<div>
							<p>C’est en 1987, que par l’Ordonnance 87-323 du 15 septembre que le Corps Spécial d’Inspecteur des Finances sera mué en Inspection Générale des Finances, Service d’audit supérieur du Gouvernement disposant d’une compétence générale en matière de contrôle des finances et des biens publics.</p>
						</div>
					</li>
				</div>

				<div class="list-texts">
					<hr>
					<p>
						Il convient de souligner que cet arrêté royal détermine comme intervenants locaux dans les finances publiques le Ministre des Colonies, les gestionnaires de crédit, le sous-gestionnaire de crédit, les ordonnateurs-trésoriers, le caissier colonial et les comptables.
					</p>
					<p>
						L’Ordonnance du Gouverneur Général n° 34/242 du 10/07/52 portant règlement sur la comptabilité publique de la Colonie constitue en fait les modalités d’application de l’Arrêté royal du 18 décembre 1951. En ses articles 117 à 120, elle définit les modalités d’exercice de la fonction d’inspecteur des finances. Selon l’article 117 de cette Ordonnance, l’Inspecteur des finances, dont la mission est avant tout éducative, examine les rapports établis par les contrôleurs des finances.
					</p>
				</div>
			</li>
		</ul>
	</div>
</div></div></div></div>{% endblock %}
