{% extends 'base.html.twig' %}

{% block title %}Inspection Générale de Finance
{% endblock %}

{% block body %}
	<div class="main">
		<div class="jumbotron small">
			<div class="container">
				<div class="row">
					<div class="col-md-6 texts">
						<h3>MISSION</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="container" style="padding: 40px 0">
			<div class="row">
				<div class="col-sm-6 htexts list-texts">
					<p>À ce titre, elle vérifie et contrôle toutes les opérations financières de l’État, des entités administratives décentralisées, des établissements publics et organismes paraétatiques ainsi que des organismes ou entreprises de toute nature bénéficiant du concours financier de l’État, des entités administratives décentralisées et des établissements publics ou organismes paraétatiques sous une forme de participation en capital, de subvention, de prêt, d’avance ou de garantie.</p>
					<P>L’Inspection générale des finances, en tant que service d’audit supérieur du gouvernement, peut procéder à toute mission de contre-vérification, au second degré, de toutes les situations douanières, fiscales ou parafiscales des contribuables ou redevables d’impôts, droits, taxes ou redevances, soit en cas de découverte d’une fraude lors de l’exécution normale d’une mission de contrôle ou de vérification, soit sur réquisition des autorités politiques et administratives, soit sur réquisition des autorités judiciaires, soit, enfin, sur dénonciation des tiers.</P>
					<P>Elle bénéficie également, en sus des crédits budgétaires lui alloués à cet effet et émargeant aux budgets annexes de l’État, d’une quotité de 10% des pénalités recouvrées pour ses dépenses d’investissement.</P>
				</div>
				<div class="col-sm-6 htexts list-texts">
					<img alt="mission" src="images/mission.jpg" style="width:100%; border-radius: 8px">
				</div>
			</li>
		</ul>
	</div>
</div></div></div></div>{% endblock %}
