{% extends 'base.html.twig' %}

{% block title %}Inspection Générale de Finance
{% endblock %}

{% block body %}
	<div class="main">
		<div class="jumbotron small">
			<div class="container">
				<div class="row">
					<div class="col-md-6 texts">
						<h3>STRUCTURATION</h3>
						<p>À l’exception des inspecteurs des finances stagiaires, les inspecteurs des finances sont nommés et, le cas échéant, relevés de leurs fonctions par le président de la République, sur proposition conjointe du ministre de la Fonction publique et de l’inspecteur général-chef de service.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container" style="padding: 40px 0">
			<div class="row">
				<div class="col-sm-6 htexts list-texts">
					<p>Les structures de l’Inspection générale des finances sont :</p>
					<ul>
						<li>L’inspecteur général, chef du service ;</li>
						<li>L’inspecteur général adjoint, chef de service adjoint ;</li>
						<li>Le corps des inspecteurs des finances subdivisé en brigades permanentes ou ponctuelles ;</li>
						<li>Le service administratif et financier d’appoint.</li>
					</ul>
					<P>Le personnel administratif et financier d’appoint relève du statut du personnel de carrière des services publics de l’État et de ses mesures d’application.</P>
					<P>Toutefois, il bénéficie d’une prime de fonctions dont le montant est fixé par le président de la République, sur proposition de l’inspecteur général-chef de service.</P>
				</div>
				<div class="col-sm-6 htexts list-texts">
					<div class="accordion accordion-flush" id="faqlist">
						<div class="accordion-item">
							<h2 class="accordion-header">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-1">
									Inspection générale des finances
								</button>
							</h2>
							<div id="content-accordion-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
								<div class="accordion-body">
									<ul>
										<li>1 inspecteur général-chef du service</li>
										<li>1 inspecteur général adjoint-chef du service adjoint</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="accordion-item">
							<h2 class="accordion-header">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-2">
									Secrétariat
								</button>
							</h2>
							<div id="content-accordion-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
								<div class="accordion-body">
									<ul>
										<li>1 chef de bureau</li>
										<li>1 attaché de bureau de 1re classe</li>
										<li>1 attaché de bureau de 2e classe</li>
										<li>1 agent de bureau de 1re classe</li>
										<li>1 huissier</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="accordion-item">
							<h2 class="accordion-header">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-3">
									Brigades d’inspection
								</button>
							</h2>
							<div id="content-accordion-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
								<div class="accordion-body">
									<p>198 inspecteurs des finances, y compris les chefs de brigades</p>
								</div>
							</div>
						</div>

						<div class="accordion-item">
							<h2 class="accordion-header">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-4">
									Service administratif et financier
								</button>
							</h2>
							<div id="content-accordion-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
								<div class="accordion-body">
									<p>1 chef de division</p>
									<hr>
									<p>1. Secrétariat</p>
									<ul>
										<li>1 attaché de bureau de 1re classe</li>
										<li>2 attachés de bureau de 1re classe</li>
										<li>1 agent de bureau de 2e classe</li>
										<li>1 huissier</li>
									</ul>
									<hr>
									<p>2. 1er bureau: gestion des missions, rapports, archives et documentation</p>
									<ul>
										<li>1 chef de bureau</li>
										<li>4 attachés de bureau de 2e classe</li>
										<li>20 agents de bureau de 1re classe (dactylographes)</li>
										<li>1 huissier</li>
									</ul>
									<hr>
									<p>3. 2e bureau: gestion des crédits, approvisionnements et patrimoines</p>
									<ul>
										<li>1 chef de bureau</li>
										<li>3 attachés de bureau de 1re classe</li>
										<li>3 attachés de bureau de 2e classe</li>
										<li>1 agent de bureau de 1re classe</li>
										<li>1 huissier</li>
									</ul>
									<hr>
									<p>4. 3e bureau: gestion de personnel, de la formation et de la bibliothèque</p>
									<ul>
										<li>1 chef de bureau</li>
										<li>3 attachés de bureau de 1re classe</li>
										<li>3 attachés de bureau de 2e classe</li>
										<li>1 agent de bureau de 1re classe</li>
										<li>1 huissier</li>
									</ul>
									<hr>
									<p>5. 3e bureau: gestion de personnel, de la formation et de la bibliothèque</p>
									<ul>
										<li>1 chef de bureau</li>
										<li>2 attachés de bureau de 1re classe</li>
										<li>2 attachés de bureau de 2e classe</li>
										<li>1 huissier</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div></div></div></div>{% endblock %}
