{% for recent in recents %}
	<a href="{{ path('actu_detail', {title: recent.title, id: recent.id}) }}" style="margin-bottom:10px;text-decoration: none;color: inherit;display: inline-block; margin-right:7px;padding: 10px 20px;background-color: #fff;font-size: 15px;">{{ recent.title|lower }}</a>
{% endfor %}
